.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#contact-toolbar{
  padding-left: 250px;
  font-size: 16px;
  height: 30px;
  p{
    padding-top: 7px;
  }
}



#post-ad-nav{
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  #contact-toolbar{
    visibility: hidden;
  }
}

::ng-deep #footer{
  p{
    width: 100%;
    text-align: center;
  }
}

::ng-deep #main-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .login-btn{
    color: gold;
    i{
      padding: 5px;
    }
  }
  svg{
    width: 70px;
  }



}



