.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

svg{
  width: 70px;
}

#contact-toolbar{
  padding-left: 250px;
  font-size: 16px;
  height: 30px;
  p{
    padding-top: 7px;
  }
}

.logo-area{
  padding-left: 100px;
}

#post-ad-nav{
  background-color: yellow;
}

@media (max-width: 768px) {
  #contact-toolbar{
    visibility: hidden;
  }
}


